SPRING_PROFILES_ACTIVE=
GOOGLE_CLIENT_SECRET=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
JWT_SECRET=
MAIL_USERNAME=
MAIL_PASSWORD=
# DigitalOcean Spaces Configuration
DIGITALOCEAN_SPACES_ACCESS_KEY=
DIGITALOCEAN_SPACES_SECRET_KEY=
DIGITALOCEAN_SPACES_REGION=
DIGITALOCEAN_SPACES_ENDPOINT=
DIGITALOCEAN_SPACES_BUCKET_NAME=
DIGITALOCEAN_SPACES_CDN_ENDPOINT=

DOCUSIGN_INTEGRATION_KEY=
DOCUSIGN_USER_ID=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_RSA_PRIVATE_KEY=
DOCUSIGN_BASE_URL=
DOCUSIGN_AUTH_SERVER=        # or account.docusign.com for prod
DOCUSIGN_RETURN_URL=
DOCUSIGN_WEBHOOK_HMAC_KEY=

# Payos Configuration
PAYOS_API_URL=
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

# VNPay Configuration
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_PAY_URL=
VNPAY_RETURN_URL=

